---
title: Social
config:
 - section: 
    data:
     htmlelement: section
   divs:
      - divClass: sociallClass     
        components:
         - component: social
           data:
            title: Social icons in config
            icons:
             - icon: facebook
               path: test.html
             - icon: twitter
               path: test.html
             - icon: youtube
               path: test.html
             - icon: pinterest
               path: test.html
             - icon: vimeo
               path: test.html
             - icon: linkedin
               path: test.html
             - icon: github
               path: test.html
      - divClass: sociallClass     
        components:
          - component: social
            data:
              title: Social icons from _data


css: |
   .icon {
   display: inline-block;
   width: 1em;
   height: 1em;
   fill: currentColor;
   }
---

{% include basic_components/page.html %}

If it finds only the component and nodata it looks  in the _data/folder
if it finds the icons it uses the icons in page.config


## Create svg
Iconmoon [https://icomoon.io/app/#/select]
Then copy the files from 'get the code' in _includes/svg/iconmoon 

write in config the name of the icon and the path to the social network

icons:
 - icon:
   path:
 - icon:
   path:

or from _data/content/social - this is betetr if we want to use the block in many pages


##Code
{% highlight html %}
{% raw %}

{% include basic_components/page.html %}

{% endraw %}
{% endhighlight %}


## Config FrontMatter

{% highlight text %}
{% raw %}

config:
 - section: section
   divs:
      - divClass: slideshowDivclass     
        components:
         - component: posts-list.html
           data:
            title: Slideshow
            javascript-plugin: owl-carousel
            javascript-plugin-data:
               items: 1
            class: owl-carousel
            id: slideshow
            groupFieldsElement: div
            content-type: slideshow
            data-type: data-list
            fields:
                 - field: image
                   data:
                     images-path: /assets/slideshow/
                 - field: title
                   data:
                    class: slideshow-title
                 - field: subtitle


{% endraw %}
{% endhighlight %}


